*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    background:linear-gradient(135deg,#021B79,#0575E6);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:400px;
    max-width:95%;
    background:#fff;
    border-radius:15px;
    padding:35px;
    box-shadow:0 10px 30px rgba(0,0,0,.4);
}

h1{
    color:#021B79;
    text-align:center;
    margin-bottom:10px;
}

h2{
    color:#0575E6;
    text-align:center;
    margin-bottom:25px;
}

p{
    color:#444;
    text-align:center;
    margin-bottom:20px;
}

input,select{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
}

input:focus,
select:focus{
    border:1px solid #0575E6;
}

button{
    width:100%;
    padding:13px;
    background:#021B79;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
    font-size:16px;
}

button:hover{
    background:#0575E6;
}

a{
    color:#021B79;
    text-decoration:none;
    font-weight:bold;
}

.links{
    text-align:center;
    margin-top:15px;
}

.painel{
    width:700px;
    max-width:95%;
    text-align:center;
}

.painel h1{
    margin-bottom:20px;
}

.card{
    background:#f5f8ff;
    border-left:6px solid #0575E6;
    padding:20px;
    margin-top:20px;
    border-radius:10px;
}

.menu{
    margin-top:30px;
}

.menu a{
    display:inline-block;
    margin:10px;
    padding:12px 25px;
    background:#021B79;
    color:white;
    border-radius:8px;
}

.menu a:hover{
    background:#0575E6;
}

@media(max-width:600px){

.container{
    padding:25px;
}

.painel{
    width:95%;
}

}